body{
	font-family: 'Poppins', sans-serif;
	background-image: url(images/bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0%;
	background-color: rgba(250, 250, 250, 0.1);
	
}
#color1{
	background-color: rgba(250, 250, 250, 0.1);
	text-align: left;
}
#header1{
	color: rgba(126, 255, 6, 0.616);
	margin-left: 10px;	
}
#header2{
	color: rgb(0, 250, 0);
	margin-left: 10px;
}
.menu{
	text-align: right;
	padding-top: 5px;
}
.header{
	padding-top: 0%;
}
.margin a{
	margin-right: 5px;
	text-decoration: none;
	color: white;
	border: 10px 15px;
	
}
.margin{
	border: 10px solid rgb(124, 0, 0);
	background-color: rgb(124, 0, 0);			
}
.menu button{
	float: right;
}
.sub-menu{
	text-align: center;
}
.title-headline{
	font-family: 'Pacifico', cursive;
	font-weight: 700;
	font-size: 90px;
	color: rgba(88, 88, 245, 0.822);
	margin-bottom: inherit;
}
.title{
	text-align: center;
	color: yellow;
	margin-top: inherit;
	font-weight: 550;
	margin-top: 25px;

}
.button{
	text-decoration: none;
	color: black;
	border: 2px solid yellow;
	background-color: yellow;
	margin-top: 100px;
	padding: 10px 20px;
	border-radius: 5px;		
}
.secend{
	margin-top: 415px;
}
.secend-title{
	font-family: 'Pacifico', cursive;
	font-weight: 800;
	font-size: 85px;
	text-align: center;
	margin-top: -850px;
}
.text{
	font-weight: 550;
	text-align: center;
	margin-top: -50px;
}
.chiken-ablevel{
	margin-top: 400px;
}
.here{
	font-family: 'Pacifico', cursive;
	font-weight: 800;
	font-size: 35px;
	padding-left: 16%;
	margin-top: 20px;
}
.now{
	padding-left: 14%;
}
.problem{
	margin-top: -515px;
	padding-left: 47%;
}
.there{
	font-family: 'Pacifico', cursive;
	font-weight: 800;
	font-size: 35px;
	text-align: center;
}
.than{
	padding-right: -600%;
}
.problem-2{
	margin-top: -510px;
	padding-left: 80%;

}
.there-1{
	font-family: 'Pacifico', cursive;
	font-weight: 800;
	font-size: 35px;
}
.number-3{
	margin-top: 75px;
}
.Number-3{
	margin-top: -650px;
	padding-left: 60%;
}
.number-heder-text{
	font-family: 'Pacifico', cursive;
	font-weight: 800;
	font-size: 85px;
	color: orange;
}
.number-text{
	color: white;
}
.number-text-3{
	color: white;
	font-size: 25px;
	
}
.number-border{
	border: 10px solid orange;
	background-color: orange;
	color: black;
	text-decoration: none;
}
.Number-4{
	margin-top: 220px;
}
.number-image{
	width: 100%;
}
.number-text-4{
	font-family: 'Pacifico', cursive;
	font-weight: 800;
	font-size: 85px;
	color: orange;
	margin-top: -650px;
	text-align: center;
}
.number-simple-text-4{
	color: white;
}
.number-simple-text-4{
	margin-top: -90px;
	text-align: center;
}