body{
	font-family: 'Poppins', sans-serif;
	background-image: url(images/bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0%;
	
}
#color1{
	background-color: rgba(250, 250, 250, 0.1);
	text-align: left;
}
#header1{
	color: rgba(126, 255, 6, 0.616);
	background-color: transparent;
	margin-left: 10px;	
}
#header2{
	color: rgb(0, 250, 0);
	background-color: transparent;
	margin-left: 10px;
}
.menu{
	text-align: right;
	padding-top: 5px;
}
.header{
	padding-top: 0%;
}
.margin a{
	margin-right: 5px;
	text-decoration: none;
	color: white;
	border: 10px 15px;
	
}
.margin{
	border: 10px solid rgb(124, 0, 0);
	background-color: rgb(124, 0, 0);			
}
.menu button{
	float: right;
}
.sub-menu{
	text-align: center;
}
.title-headline{
	font-family: 'Pacifico', cursive;
	font-weight: 700;
	font-size: 90px;
	color: rgba(88, 88, 245, 0.822);
	margin-bottom: inherit;
}
.title{
	text-align: center;
	color: yellow;
	
	margin-top: inherit;
	font-weight: 550;

}
.button{
	border: 3px solid ;
}